<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/add">Add new</a>
    <input
      type="text"
      id="myInput"
      onkeyup="myFunction()"
      placeholder="Search..."
      title="Type in a city"
    />
    <hr />
    <%if (schedules.length > 0) { %> <% schedules.forEach((schedule)=> { %>
    <div class="schedules">
      <ul id="schedule">
        <div class="schedules" data-date="<%= schedule.trip_date.toLocaleString() %>">
          <li>
            <a href="#">From:<%= schedule.from %> To:<%= schedule.to %> </a>
            <p>Date: <%= schedule.trip_date.toLocaleString() %></p>

            <form action="/edit/<%= schedule.id %>" method="GET">
              <button type="submit">Edit</button>
            </form>

            <form action="delete/<%= schedule.id %>" method="POST">
              <input type="hidden" name="scheduleId" value="<%= schedule._id %>" />
              <button type="submit">Delete</button>
            </form>
            <hr />
          </li>
        </div>
      </ul>
    </div>

    <% }) %> <% } else {%>
    <h1>Empty</h1>
    <%}%>
    <script src="./scripts.js"></script>
  </body>
</html>
