<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <a href="/add">Add new</a>
    <hr />
    <%if (schedules.length > 0) { %> <% schedules.forEach((schedule)=> { %>
    <div>
      <p>From: <%= schedule.from %></p>
      <p>To: <%= schedule.to %></p>
      <p>Date: <%= schedule.trip_date %></p>
      <a href="/edit/<%= schedule.id %>">Edit</a>
    </div>
    <form action="delete/<%= schedule.id %>" method="POST">
      <input type="hidden" name="scheduleId" value="<%= schedule._id %>" />
      <button type="submit" class="btn btn-outline-dark mt-auto">Delete this schedule</button>
    </form>
    <hr />
    <% }) %> <% } else {%>
    <h1>Empty</h1>
    <%}%>
  </body>
</html>
